.contact-form {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  height: 100%;
  h1 {
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    .label {
      margin: 5px 0;
      font-weight: bold;
      .input-fields {
        width: 220px;
        margin-left: 5px;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}
